{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<div id="login-page">
		<div class="container">
			<form class="form-login" method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				<h2 class="form-login-heading">قم بتسجيل دخولك الآن</h2>
				<div class="login-wrap">
					<input type="text" value="{{ last_username }}" name="_username" class="form-control" placeholder="Username - اسم االمستخدم" autofocus required>
					<br>
					<input type="password" name="_password" class="form-control" placeholder="Password - كلمة السر" required>
					<br>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<button class="btn btn-theme btn-block" type="submit">
						<i class="fa fa-lock"></i>
						تسجيل</button>
					<hr>
				</div>
			</form>
		</div>
	</div>

{% endblock body %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="lib/jquery.backstretch.min.js"></script>
	<script>
		$.backstretch("img/login-bg.jpg", {speed: 500});
	</script>
{% endblock %}
